<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use Minified Plugins Version For Fast Page Load -->
    <!-- Customize styles -->
    <link th:href="@{/css/rrrrrrrr.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/main.css}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/image/favicon.ico}"/>
    
    <link th:href="@{/webjars/font-awesome/3.2.1/css/font-awesome.css}" rel="stylesheet"/>
    <!-- Bootstrap styles -->
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

</html>